.cell-div {
  height: 8px;
  width: 8px;
  border: 1px solid lightgray;
}

// .full {
//   background-color: #422;
// }
//
// .newCell {
//   background-color: #633;
// }

.age1 {
  background-color: $base-color;
}

.age2 {
  background-color: darken($base-color, 10%);
}

.age3 {
  background-color: darken($base-color, 20%);
}

.age4 {
  background-color: darken($base-color, 30%);
}
